
.bgbutton {
    // background: url('/images/design/button2.gif') no-repeat top left; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding-bottom : 18px;
    padding-top : 18px;
    padding-left : 30px;
    padding-right:  50%; 
    border : none;
    color: #0f0d81; 
    font-weight: bold;
}
    