{{ define "main" }}
  <main aria-role="main">
    <div class="homepage-content" style="padding-left: 3em; padding-right: 5em;">
        <p class="center">
            {{ $imgLogo := resources.Get "images/design/logo.jpg" }}
            <img src="{{ $imgLogo.Permalink }}" alt="Ravenloft"/>
            <p class="center" style="font-family: BlackChancery, DickensScriptSSK; color: #CC0000; font-size: 1em" >The Renier's Library</p>
            {{ $imgUnderline := resources.Get "images/design/underline.gif" }}
            <p class="center"><img src="{{ $imgUnderline.Permalink }}" style="width: 153; height: 22" alt="-"/></p>
            <p class="center" style="color: #FFFFFF"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;{{.Params.quote }} &quot; </i>
            </p>
            <p class="center" style="text-align: right"><i>{{ .Params.quote_author }}</i></p>
            <p class="center"><img src="{{ $imgUnderline.Permalink }}" style="width: 153; height: 22" alt="-"/></p>      
        </p>

        {{ .Render "video" }}
        {{ .Content }}

        <p class="center"><img src="{{ $imgUnderline.Permalink }}" style="width: 153; height: 22" alt="-"/></p>      


    </div>
    <div style="padding-left: 3em; padding-right: 5em;">
      {{ range .Site.Sections }}
        <p>
          {{ .Render "summary" }}
        </p>
      {{ end }}

    <p class="center"><img src="{{ $imgUnderline.Permalink }}" style="width: 153; height: 22" alt="-"/></p>         

    </div>
  </main>
{{ end }}